
.productos__h2 {
  font-size: 22px;
  text-align: center;
  text-shadow: 1px 1px rgb(255, 255, 255), -5px 0 10px rgb(41, 41, 41);
  padding: 10px;
}

.productos__precio {
  margin: 5px 0;
  font-size: 1.5em;
  font-weight: bold;
  
}


   /*------- Seteo de la Imagen de Producto-------*/
   .imagProduc {
    width: 190px; 
    height: auto;
    margin-top: 10px; 
    
}

.productCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column; /* Elementos apilados verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  color: black;
  border-radius: 16px;
  overflow: hidden;
  width: 300px;
  transition: all 0.5s;
  background: #ffffff;
  border: 2px dotted #b0b0b0;
}

.productCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: scale(1.35);
}

.link {
  text-decoration: none;
  color: white; 
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 20px;
  background-color: black;
  width: 150px;
  height: 30px;
  text-align: center;
  

}