#carritoContainer{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #393646;
    border-radius: 20px;
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 40px 100px 0 100px;
}
.carritoContainer{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #404042;
    box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.carritoItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    gap: 25px;
}


.carritoItem p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    text-decoration: none;
    text-align:justify;
    align-items: center;
    color: #404042;
    font-size: .9em;

}

.cantidad {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.button-trash {
    background-color: transparent;
    border: none;
    width: 30px;
    align-items: center;
    justify-items: center;

}

.buttons {
    font-size: .9em;
    color: white;
    width: 300px;
    height: 50px;
    margin: 30px;
    border-radius: 8px;
    background:  #404042;    
    cursor:pointer;
    font-weight: bold;
    padding: .6em;
    text-align: center;

}
.buttons:hover {
    font-size: .9em;
    color: #404042;
    width: 300px;
    border-radius: 8px;
    background:  #ffa500;    
    cursor:pointer;
    font-weight: bold;
    padding: .6em;
    text-align: center;

}


