.img-pad {
    padding: 15px;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #fff;
    width: 100%;
    background-color: #393646;
    padding: 0 30px 0px 0
}

ul {
    display: flex;
    list-style-type: none;
    list-style: none;

    li {
        display: flex;
        gap: 30px;
        margin: 0 14px;
       color: white;
       font-size: 1.2rem;
    }
    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: rgb(117, 213, 20);
    }

}

p {
    font-size: 1em;
}


