.item-detail {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.item-detail{
    display: flex;
    padding: 6% 10%;
  }
  
  .item-detail .imagen{
    width: 25%;
    
  }
  
  .item-detail .texto{
    width: 50%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    
  }