.item-list {
    background-color: #393646;
    text-align: center;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 30px;

}