.item-list-container {
  padding: 0 20px;
}

.item-list-container .bienvenida {
  font-size: 25px;
  width: 100%;
  padding: 0;
  margin: 40px 40px 40px 40px;
  color: #393646;
  text-align: center;
  font-size: 40px;
}

.cargando {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .item-list-container {
    padding: 0 10px;
  }

  .item-list-container .bienvenida {
    font-size: 1.8em; 
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 30px;
  }

  .cargando {
    height: auto;
  }
}