/* Checkout.scss */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  background-color: #393646;
  color: #ffa500;
  border-radius: 10px;
  max-width: 1200px;
  width: 1000px;
  align-content: center;
  justify-content: center;
  margin-bottom: 27px;
  box-shadow: 3px 3px 6px #777777, -3px -3px 6px #ffffff;

}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ffa500;
  border-radius: 5px;
  background-color: #393646;
  color: white;
  font-size: 1.4em;
}

.button-d {
    font-size: 1.1em;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background: #404042;
    cursor: pointer;
    font-weight: bold;
    padding: .6em;
    text-align: center;
    margin: 10px;

}

button:hover {
  background-color: #ffcc00;
  font-weight: bold;
}

.article-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 35px;
  color: #393646;
  justify-content: center;
  width: auto;
  margin-top: -0.51%;
}

.article-form h4 {
  border: 1px solid #ffa500;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 3%;
}

.article-form h2 {
  text-decoration: underline #ffa500;
  padding: 15px;
  border-radius: 10px;
  color: #393646;
  margin-bottom: 3%;
}